{
  "openapi": "3.0.0",
  "info": {
    "title": "Bridge API Collection",
    "version": "1.0.0",
    "description": "APIs to move into, out of, and between any form of a dollar"
  },
  "servers": [
    {
      "url": "https://api.bridge.xyz/v0"
    },
    {
      "url": "https://api.bridge.xyz"
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "summary": "Create a customer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          }
        ],
        "responses": {
          "201": {
            "description": "Customer object created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "payin_crypto": {
                          "type": "string"
                        },
                        "payout_crypto": {
                          "type": "string"
                        },
                        "payin_fiat": {
                          "type": "string"
                        },
                        "payout_fiat": {
                          "type": "string"
                        }
                      }
                    },
                    "requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "rejection_reasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "developer_reason": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "future_requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "has_accepted_terms_of_service": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "r6eud5y8ra",
                  "type": "individual",
                  "status": "rejected",
                  "first_name": "<string>",
                  "last_name": "<string>",
                  "email": "<string>",
                  "capabilities": {
                    "payin_crypto": "<boolean>",
                    "payout_crypto": "<boolean>",
                    "payin_fiat": "<boolean>",
                    "payout_fiat": "<boolean>"
                  },
                  "requirements_due": [
                    "external_account",
                    "external_account"
                  ],
                  "rejection_reasons": [
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    },
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    }
                  ],
                  "future_requirements_due": [
                    "id_verification",
                    "id_verification"
                  ],
                  "has_accepted_terms_of_service": "<boolean>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>"
                }
              }
            }
          },
          "400": {
            "description": "Request containing missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "signed_agreement_id": {
                    "type": "string"
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street_line_1": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "street_line_2": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      }
                    }
                  },
                  "tax_identification_number": {
                    "type": "string"
                  },
                  "birth_date": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "gov_id_image_front": {
                    "type": "string"
                  },
                  "gov_id_image_back": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "type": "individual",
                "signed_agreement_id": "<string>",
                "first_name": "<string>",
                "last_name": "<string>",
                "email": "<string>",
                "address": {
                  "street_line_1": "<string>",
                  "country": "<string>",
                  "city": "<string>",
                  "street_line_2": "<string>",
                  "state": "<string>",
                  "postal_code": "<string>"
                },
                "tax_identification_number": "<string>",
                "birth_date": "<string>",
                "phone": "<string>",
                "gov_id_image_front": "<string>",
                "gov_id_image_back": "<string>"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all customers",
        "parameters": [
          {
            "name": "starting_after",
            "in": "query",
            "description": "This is a customer id. If this is specified, the next page that starts with a customer right AFTER the specified customer id on the customer timeline, which is always ordered from the newest to the oldest by creation time, will be returned. This also implies that customers older than the specified customer id will be returned (shouldn't be set if ending_before is set)",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "This is a customer id. If this is specified, the previous page that ends with a customer right BEFORE the specified customer id on the customer timeline, which is always ordered from the newest to the oldest by creation time, will be returned. This also implies that customers newer than the specified customer id will be returned (shouldn't be set if starting_after is set)",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return (100 max)",
            "schema": {
              "type": "string"
            },
            "example": "<integer>"
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "capabilities": {
                            "type": "object",
                            "properties": {
                              "payin_crypto": {
                                "type": "string"
                              },
                              "payout_crypto": {
                                "type": "string"
                              },
                              "payin_fiat": {
                                "type": "string"
                              },
                              "payout_fiat": {
                                "type": "string"
                              }
                            }
                          },
                          "requirements_due": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "rejection_reasons": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "developer_reason": {
                                  "type": "string"
                                },
                                "reason": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "future_requirements_due": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "has_accepted_terms_of_service": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "count": "<integer>",
                  "data": [
                    {
                      "id": "lp",
                      "type": "business",
                      "status": "incomplete",
                      "first_name": "<string>",
                      "last_name": "<string>",
                      "email": "<string>",
                      "capabilities": {
                        "payin_crypto": "<boolean>",
                        "payout_crypto": "<boolean>",
                        "payin_fiat": "<boolean>",
                        "payout_fiat": "<boolean>"
                      },
                      "requirements_due": [
                        "id_verification",
                        "external_account"
                      ],
                      "rejection_reasons": [
                        {
                          "developer_reason": "<string>",
                          "reason": "<string>",
                          "created_at": "<string>"
                        },
                        {
                          "developer_reason": "<string>",
                          "reason": "<string>",
                          "created_at": "<string>"
                        }
                      ],
                      "future_requirements_due": [
                        "id_verification",
                        "id_verification"
                      ],
                      "has_accepted_terms_of_service": "<boolean>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>"
                    },
                    {
                      "id": "s5vusvcbs",
                      "type": "business",
                      "status": "pending",
                      "first_name": "<string>",
                      "last_name": "<string>",
                      "email": "<string>",
                      "capabilities": {
                        "payin_crypto": "<boolean>",
                        "payout_crypto": "<boolean>",
                        "payin_fiat": "<boolean>",
                        "payout_fiat": "<boolean>"
                      },
                      "requirements_due": [
                        "id_verification",
                        "external_account"
                      ],
                      "rejection_reasons": [
                        {
                          "developer_reason": "<string>",
                          "reason": "<string>",
                          "created_at": "<string>"
                        },
                        {
                          "developer_reason": "<string>",
                          "reason": "<string>",
                          "created_at": "<string>"
                        }
                      ],
                      "future_requirements_due": [
                        "id_verification",
                        "bridge_use_of_services"
                      ],
                      "has_accepted_terms_of_service": "<boolean>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "Get the full list of all customers created on Bridge"
      }
    },
    "/customers/{customerID}": {
      "get": {
        "summary": "Get a single customer object",
        "responses": {
          "200": {
            "description": "Successful customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "payin_crypto": {
                          "type": "string"
                        },
                        "payout_crypto": {
                          "type": "string"
                        },
                        "payin_fiat": {
                          "type": "string"
                        },
                        "payout_fiat": {
                          "type": "string"
                        }
                      }
                    },
                    "requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "rejection_reasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "developer_reason": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "future_requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "has_accepted_terms_of_service": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "r6eud5y8ra",
                  "type": "individual",
                  "status": "rejected",
                  "first_name": "<string>",
                  "last_name": "<string>",
                  "email": "<string>",
                  "capabilities": {
                    "payin_crypto": "<boolean>",
                    "payout_crypto": "<boolean>",
                    "payin_fiat": "<boolean>",
                    "payout_fiat": "<boolean>"
                  },
                  "requirements_due": [
                    "external_account",
                    "external_account"
                  ],
                  "rejection_reasons": [
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    },
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    }
                  ],
                  "future_requirements_due": [
                    "id_verification",
                    "id_verification"
                  ],
                  "has_accepted_terms_of_service": "<boolean>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "Retrieve a customer object from the passed in customer ID"
      },
      "parameters": [
        {
          "name": "customerID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        }
      ],
      "delete": {
        "summary": "Delete a single customer object",
        "responses": {
          "200": {
            "description": "Successfully deleted customer object response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "capabilities": {
                      "type": "object",
                      "properties": {
                        "payin_crypto": {
                          "type": "string"
                        },
                        "payout_crypto": {
                          "type": "string"
                        },
                        "payin_fiat": {
                          "type": "string"
                        },
                        "payout_fiat": {
                          "type": "string"
                        }
                      }
                    },
                    "requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "rejection_reasons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "developer_reason": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "future_requirements_due": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "has_accepted_terms_of_service": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "r6eud5y8ra",
                  "type": "individual",
                  "status": "rejected",
                  "first_name": "<string>",
                  "last_name": "<string>",
                  "email": "<string>",
                  "capabilities": {
                    "payin_crypto": "<boolean>",
                    "payout_crypto": "<boolean>",
                    "payin_fiat": "<boolean>",
                    "payout_fiat": "<boolean>"
                  },
                  "requirements_due": [
                    "external_account",
                    "external_account"
                  ],
                  "rejection_reasons": [
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    },
                    {
                      "developer_reason": "<string>",
                      "reason": "<string>",
                      "created_at": "<string>"
                    }
                  ],
                  "future_requirements_due": [
                    "id_verification",
                    "id_verification"
                  ],
                  "has_accepted_terms_of_service": "<boolean>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "Delete a customer object from the passed in customer ID"
      }
    },
    "/customers/{customerID}/id_verification_link": {
      "get": {
        "summary": "Request a hosted URL for customer ID verification.",
        "parameters": [
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "(Optional) URL to redirect the user back to once ID verification flow is completed",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          }
        ],
        "responses": {
          "200": {
            "description": "A Hosted URL for users to perform an ID verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "url": "<string>"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "The URL endpoint returned will take the user through a hosted ID verification flow. You can pass in a redirect URI that will be used to redirect back to your application once the ID verification flow is completed."
      },
      "parameters": [
        {
          "name": "customerID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        }
      ]
    },
    "/customers/{customerID}/transfers": {
      "get": {
        "summary": "Get all transfers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of items to return (100 max)",
            "schema": {
              "type": "string"
            },
            "example": "<integer>"
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "This is a transfer id. If this is specified, the next page that starts with a transfer right AFTER the specified transfer id on the transfer timeline, which is always ordered from the newest to the oldest by creation time, will be returned. This also implies that transfers older than the specified transfer id will be returned (shouldn't be set if ending_before is set)",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "This is a transfer id. If this is specified, the previous page that ends with a transfer right BEFORE the specified transfer id on the transfer timeline, which is always ordered from the newest to the oldest by creation time, will be returned. This also implies that transfers newer than the specified transfer id will be returned (shouldn't be set if starting_after is set)",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          },
          {
            "name": "tx_hash",
            "in": "query",
            "description": "The hash of the transaction",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          },
          {
            "name": "updated_after_ms",
            "in": "query",
            "description": "This is a unix timestamp in milliseconds. If this is specified, transfers updated AFTER the specified timestamp will be returned",
            "schema": {
              "type": "string"
            },
            "example": "<integer>"
          },
          {
            "name": "updated_before_ms",
            "in": "query",
            "description": "This is a unix timestamp in milliseconds. If this is specified, transfers updated BEFORE the specified timestamp will be returned",
            "schema": {
              "type": "string"
            },
            "example": "<integer>"
          }
        ],
        "responses": {
          "200": {
            "description": "List of transfers (the returned list is empty if none found)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string"
                          },
                          "on_behalf_of": {
                            "type": "string"
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "payment_rail": {
                                "type": "string"
                              },
                              "external_account_id": {
                                "type": "string"
                              },
                              "omad": {
                                "type": "string",
                                "format": "utc-millisec"
                              },
                              "imad": {
                                "type": "string"
                              },
                              "bank_beneficiary_name": {
                                "type": "string"
                              },
                              "bank_routing_number": {
                                "type": "string"
                              },
                              "bank_name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "from_address": {
                                "type": "string"
                              }
                            }
                          },
                          "destination": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string"
                              },
                              "payment_rail": {
                                "type": "string"
                              },
                              "external_account_id": {
                                "type": "string"
                              },
                              "omad": {
                                "type": "string"
                              },
                              "imad": {
                                "type": "string"
                              },
                              "to_address": {
                                "type": "string"
                              },
                              "wire_message": {
                                "type": "string"
                              },
                              "blockchain_memo": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string",
                            "format": "color"
                          },
                          "developer_fee": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "source_deposit_instructions": {
                            "type": "object",
                            "properties": {
                              "payment_rail": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "from_address": {
                                "type": "string"
                              },
                              "to_address": {
                                "type": "string"
                              },
                              "deposit_message": {
                                "type": "string"
                              },
                              "bank_name": {
                                "type": "string"
                              },
                              "bank_address": {
                                "type": "string"
                              },
                              "bank_routing_number": {
                                "type": "string"
                              },
                              "bank_account_number": {
                                "type": "string"
                              },
                              "bank_beneficiary_name": {
                                "type": "string"
                              }
                            }
                          },
                          "receipt": {
                            "type": "object",
                            "properties": {
                              "initial_amount": {
                                "type": "string"
                              },
                              "developer_fee": {
                                "type": "string"
                              },
                              "exchange_fee": {
                                "type": "string"
                              },
                              "subtotal_amount": {
                                "type": "string"
                              },
                              "gas_fee": {
                                "type": "string"
                              },
                              "final_amount": {
                                "type": "string"
                              },
                              "source_tx_hash": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              },
                              "destination_tx_hash": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "count": "<integer>",
                  "data": [
                    {
                      "amount": "<string>",
                      "on_behalf_of": "<string>",
                      "source": {
                        "currency": "usdt",
                        "payment_rail": "optimism",
                        "external_account_id": "mfqnl6g",
                        "omad": "3",
                        "imad": "zld5712ld",
                        "bank_beneficiary_name": "<string>",
                        "bank_routing_number": "<string>",
                        "bank_name": "<string>",
                        "description": "<string>",
                        "from_address": "<string>"
                      },
                      "destination": {
                        "currency": "dai",
                        "payment_rail": "ach_push",
                        "external_account_id": "o",
                        "omad": "u8p9",
                        "imad": "6z",
                        "to_address": "<string>",
                        "wire_message": "<string>",
                        "blockchain_memo": "<string>"
                      },
                      "id": "acd",
                      "developer_fee": "<string>",
                      "state": "funds_received",
                      "source_deposit_instructions": {
                        "payment_rail": "ach",
                        "amount": "<string>",
                        "currency": "usdc",
                        "from_address": "<string>",
                        "to_address": "<string>",
                        "deposit_message": "<string>",
                        "bank_name": "<string>",
                        "bank_address": "<string>",
                        "bank_routing_number": "<string>",
                        "bank_account_number": "<string>",
                        "bank_beneficiary_name": "<string>"
                      },
                      "receipt": {
                        "initial_amount": "<string>",
                        "developer_fee": "<string>",
                        "exchange_fee": "<string>",
                        "subtotal_amount": "<string>",
                        "gas_fee": "<string>",
                        "final_amount": "<string>",
                        "source_tx_hash": {
                          "description": "The hash of the on-chain deposit to the source address, where applicable"
                        },
                        "destination_tx_hash": {
                          "description": "The hash of the on-chain transfer to the destination address, where applicable"
                        }
                      },
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>"
                    },
                    {
                      "amount": "<string>",
                      "on_behalf_of": "<string>",
                      "source": {
                        "currency": "dai",
                        "payment_rail": "optimism",
                        "external_account_id": "x4mj3kjtt",
                        "omad": "krp5rpn",
                        "imad": "rjax7mvz85",
                        "bank_beneficiary_name": "<string>",
                        "bank_routing_number": "<string>",
                        "bank_name": "<string>",
                        "description": "<string>",
                        "from_address": "<string>"
                      },
                      "destination": {
                        "currency": "usd",
                        "payment_rail": "polygon",
                        "external_account_id": "2",
                        "omad": "7wjlni9vr",
                        "imad": "t5m",
                        "to_address": "<string>",
                        "wire_message": "<string>",
                        "blockchain_memo": "<string>"
                      },
                      "id": " ",
                      "developer_fee": "<string>",
                      "state": "awaiting_funds",
                      "source_deposit_instructions": {
                        "payment_rail": "avalanche_c_chain",
                        "amount": "<string>",
                        "currency": "dai",
                        "from_address": "<string>",
                        "to_address": "<string>",
                        "deposit_message": "<string>",
                        "bank_name": "<string>",
                        "bank_address": "<string>",
                        "bank_routing_number": "<string>",
                        "bank_account_number": "<string>",
                        "bank_beneficiary_name": "<string>"
                      },
                      "receipt": {
                        "initial_amount": "<string>",
                        "developer_fee": "<string>",
                        "exchange_fee": "<string>",
                        "subtotal_amount": "<string>",
                        "gas_fee": "<string>",
                        "final_amount": "<string>",
                        "source_tx_hash": {
                          "description": "The hash of the on-chain deposit to the source address, where applicable"
                        },
                        "destination_tx_hash": {
                          "description": "The hash of the on-chain transfer to the destination address, where applicable"
                        }
                      },
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "Get all active and completed transfers for a customer."
      },
      "parameters": [
        {
          "name": "customerID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        }
      ]
    },
    "/customers/tos_links": {
      "post": {
        "summary": "Request a hosted URL for terms of services acceptance.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          }
        ],
        "responses": {
          "201": {
            "description": "A Bridge hosted URL for users to complete terms of service signing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "url": "<string>"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "customers"
        ],
        "description": "The URL endpoint returned will guide the user through a Bridge TOS flow. Signing this acceptance flow is a requirement for creating customers."
      }
    },
    "/customers/{customerID}/external_accounts/{externalAccountID}": {
      "put": {
        "summary": "Add a beneficiary address to an account if it is missing",
        "responses": {
          "200": {
            "description": "External account object updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_owner_name": {
                      "type": "string"
                    },
                    "routing_number": {
                      "type": "string"
                    },
                    "account_number": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "street_line_2": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "customer_id": {
                      "type": "string"
                    },
                    "bank_name": {
                      "type": "string"
                    },
                    "last_4": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "active": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "account_owner_name": "<string>",
                  "routing_number": "<string>",
                  "account_number": "<string>",
                  "address": {
                    "street_line_1": "<string>",
                    "country": "<string>",
                    "city": "<string>",
                    "street_line_2": "<string>",
                    "state": "<string>",
                    "postal_code": "<string>"
                  },
                  "id": "9g4",
                  "customer_id": "<string>",
                  "bank_name": "<string>",
                  "last_4": "<string>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>",
                  "active": "<boolean>"
                }
              }
            }
          },
          "400": {
            "description": "Request containing missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "external accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "properties": {
                      "street_line_1": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "street_line_2": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "address": {
                  "street_line_1": "<string>",
                  "country": "<string>",
                  "city": "<string>",
                  "street_line_2": "<string>",
                  "state": "<string>",
                  "postal_code": "<string>"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "customerID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        },
        {
          "name": "externalAccountID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        }
      ],
      "get": {
        "summary": "Retrieve an external account object",
        "responses": {
          "200": {
            "description": "Successful external account object response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_owner_name": {
                      "type": "string"
                    },
                    "routing_number": {
                      "type": "string"
                    },
                    "account_number": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "street_line_2": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "customer_id": {
                      "type": "string"
                    },
                    "bank_name": {
                      "type": "string"
                    },
                    "last_4": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "active": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "account_owner_name": "<string>",
                  "routing_number": "<string>",
                  "account_number": "<string>",
                  "address": {
                    "street_line_1": "<string>",
                    "country": "<string>",
                    "city": "<string>",
                    "street_line_2": "<string>",
                    "state": "<string>",
                    "postal_code": "<string>"
                  },
                  "id": "9g4",
                  "customer_id": "<string>",
                  "bank_name": "<string>",
                  "last_4": "<string>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>",
                  "active": "<boolean>"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "external accounts"
        ],
        "description": "Retrieve an external account object (banks, debit cards etc) from the passed in customer ID and external account ID"
      }
    },
    "/customers/{customerID}/external_accounts": {
      "post": {
        "summary": "Create a new external account",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          }
        ],
        "responses": {
          "201": {
            "description": "External account object created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_owner_name": {
                      "type": "string"
                    },
                    "routing_number": {
                      "type": "string"
                    },
                    "account_number": {
                      "type": "string"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "street_line_2": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        }
                      }
                    },
                    "id": {
                      "type": "string"
                    },
                    "customer_id": {
                      "type": "string"
                    },
                    "bank_name": {
                      "type": "string"
                    },
                    "last_4": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "active": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "account_owner_name": "<string>",
                  "routing_number": "<string>",
                  "account_number": "<string>",
                  "address": {
                    "street_line_1": "<string>",
                    "country": "<string>",
                    "city": "<string>",
                    "street_line_2": "<string>",
                    "state": "<string>",
                    "postal_code": "<string>"
                  },
                  "id": "9g4",
                  "customer_id": "<string>",
                  "bank_name": "<string>",
                  "last_4": "<string>",
                  "created_at": "<dateTime>",
                  "updated_at": "<dateTime>",
                  "active": "<boolean>"
                }
              }
            }
          },
          "400": {
            "description": "Request containing missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "external accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_owner_name": {
                    "type": "string"
                  },
                  "routing_number": {
                    "type": "string"
                  },
                  "account_number": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street_line_1": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "street_line_2": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      }
                    }
                  },
                  "id": {
                    "type": "string"
                  },
                  "customer_id": {
                    "type": "string"
                  },
                  "bank_name": {
                    "type": "string"
                  },
                  "last_4": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string"
                  },
                  "updated_at": {
                    "type": "string"
                  },
                  "active": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "account_owner_name": "<string>",
                "routing_number": "<string>",
                "account_number": "<string>",
                "address": {
                  "street_line_1": "<string>",
                  "country": "<string>",
                  "city": "<string>",
                  "street_line_2": "<string>",
                  "state": "<string>",
                  "postal_code": "<string>"
                },
                "id": "9g4",
                "customer_id": "<string>",
                "bank_name": "<string>",
                "last_4": "<string>",
                "created_at": "<dateTime>",
                "updated_at": "<dateTime>",
                "active": "<boolean>"
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "customerID",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "j15zcbw35"
        }
      ],
      "get": {
        "summary": "Get all external accounts",
        "responses": {
          "200": {
            "description": "List of external accounts (the returned list is empty if no external accounts exist)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_owner_name": {
                            "type": "string"
                          },
                          "routing_number": {
                            "type": "string"
                          },
                          "account_number": {
                            "type": "string"
                          },
                          "address": {
                            "type": "object",
                            "properties": {
                              "street_line_1": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "street_line_2": {
                                "type": "string"
                              },
                              "state": {
                                "type": "string"
                              },
                              "postal_code": {
                                "type": "string"
                              }
                            }
                          },
                          "id": {
                            "type": "string"
                          },
                          "customer_id": {
                            "type": "string"
                          },
                          "bank_name": {
                            "type": "string"
                          },
                          "last_4": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "active": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "account_owner_name": "<string>",
                      "routing_number": "<string>",
                      "account_number": "<string>",
                      "address": {
                        "street_line_1": "<string>",
                        "country": "<string>",
                        "city": "<string>",
                        "street_line_2": "<string>",
                        "state": "<string>",
                        "postal_code": "<string>"
                      },
                      "id": "ukfub6jvr",
                      "customer_id": "<string>",
                      "bank_name": "<string>",
                      "last_4": "<string>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "active": "<boolean>"
                    },
                    {
                      "account_owner_name": "<string>",
                      "routing_number": "<string>",
                      "account_number": "<string>",
                      "address": {
                        "street_line_1": "<string>",
                        "country": "<string>",
                        "city": "<string>",
                        "street_line_2": "<string>",
                        "state": "<string>",
                        "postal_code": "<string>"
                      },
                      "id": "1lc",
                      "customer_id": "<string>",
                      "bank_name": "<string>",
                      "last_4": "<string>",
                      "created_at": "<dateTime>",
                      "updated_at": "<dateTime>",
                      "active": "<boolean>"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "external accounts"
        ],
        "description": "Get all external accounts for a passed in customer."
      }
    },
    "/transfers/{transferID}": {
      "delete": {
        "summary": "Delete a transfer",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "<string>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion of transfer"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No resource found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. User may try and send the request again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "source": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "<string>",
                  "message": "<string>",
                  "source": {
                    "location": "query",
                    "key": "<string>"
                  }
                }
              }
            }
          }
[...]
